body {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(264 47.6% 64.7%);
}

main {
    display: flex;
    flex-direction: row;
}
.ingredients {
    max-width: 450px;
}

.picture img {
    max-height: 200px;
    width: 300px;
} .picture {
    width: 1px;
    margin-left: 10px;
}

.credit {
    margin-top: 20px;
    border: 3px dotted rgba(34, 34, 34, 0.496);
    padding: 10px 20px;
}
footer {
    width: 98vw;
    height: 50px;
    position: relative;
    margin-top: 30px;
    border-style: solid;
}