body {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(264 47.6% 64.7%);
}

/* links section */
a {
    color: hsl(230 80.7% 41.2%);
} a:hover {
    color: hsl(230 80.7% 59.6%);
} a:visited {
    color: hsl(263 80.7% 37.6%);
} a:active {
    color: white;
}

header {
  
    margin-bottom: 50px;
    margin-top: 20px;
}
header p, header h1 {
    margin: 2px;
}

.links {
    display: flex;
   flex-direction: column;
}.links a {
    padding: 7px;
    border: 2px inset rgba(0, 0, 0, 0.54);
}

.chef {
    margin-top: 20px;
    height: 400px;
    width: 600px;
}

footer {
    width: 98vw;
    height: 50px;
    position: relative;
    top: 22vh;
    border-style: solid;
}